.status-card {
    max-width: 15rem;
    min-width: 15rem;
}

.status-card img {
    width: 100%;
}

.button-thumbnail {
    max-width: 10rem;
    min-width: 10rem;
    max-height: 85px;
    min-height: 85px;
    margin-bottom: 5px;
}

.name-absent-thumbnail.active {
    border: #28a745 solid !important;
}

.name-present-thumbnail.active {
    border: #dc3545 solid !important;
}

.button-thumbnail label {
    max-width: 8rem;
    min-width: 8rem;
    min-height: 4rem;
    max-height: 4rem;
    word-wrap: break-word;
    white-space: normal;
}

.btn-portraits, .btn-names {
    background: #AAAAAA;
    min-width: 95px;
}

.btn-portraits.active, .btn-names.active {
    color: white;
    background: #17a2b8;
}

.btn-present, .btn-absent {
    background: #AAAAAA;
}

.btn-present.active {
    background: #28a745;
}

.btn-absent.active{
    background: #dc3545;
}

.override-submit {
    text-align: center;
    margin-bottom: 50px;
}

.status-container {
    margin: 50px 20px 50px 20px;
}

.student-view-container {
    width: 100%;
}

.lock-attendance {
    min-width: 120px;
}

.locked {
    background: #1e1e1e;
    border: #1e1e1e;
}

.locked:hover {
    background: #000000;
}

.student-img {
    display: block;
    max-width:168px;
    max-height:168px;
    width: auto;
    height: auto;
}

.img-container {
    height: 168px;
}