.status-card {
    max-width: 15rem;
    min-width: 15rem;
}

.status-card img {
    width: 100%;
}

.btn-present, .btn-absent {
    background: #AAAAAA;
}

.btn-present.active {
    background: #28a745;
}

.btn-absent.active{
    background: #dc3545;
}

.override-submit {
    text-align: center;
    margin-bottom: 50px;
}

.status-container {
    margin: 50px 20px 50px 20px;
}

.lock-attendance {
    min-width: 120px;
}

.locked {
    background: #1e1e1e;
    border: #1e1e1e;
}

.locked:hover {
    background: #000000;
}