.accordion-container {
    min-width: 450px;
    max-width: 700px;
    width: auto;
    text-align: center;
}

#accordion {
    width: auto;
}

.course-btn {
    min-width: 400px;
}

.card-header:hover {
    cursor: pointer;
}