.list {
    font-family: sans-serif;
    margin: 0;
    padding: 20px 0 0;
}

.list > li {
    display: block;
    background-color: #eee;
    padding: 10px;
    box-shadow: inset 0 1px 0 #fff;
}

.avatar {
    max-width: 75px;
}

h3 {
    font-size: 16px;
    margin: 0 0 0.3rem;
    font-weight: bold;
}

p {
    margin: 0;
}

input {
    border: solid 1px #ccc;
    border-radius: 5px;
    padding: 7px 14px;
    margin-bottom: 10px
}

input:focus {
    outline: none;
    border-color: #aaa;
}

.sort {
    padding: 8px 30px;
    border-radius: 6px;
    border: none;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    background-color: #28a8e0;
    height: 40px;
    min-width: 210px;
    cursor: pointer;
}

.sort:hover {
    text-decoration: none;
    background-color: #1b8aba;
}

.sort:focus {
    outline: none;
}

.sort:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    content: "";
    position: relative;
    top: -10px;
    right: -5px;
}

.sort.asc:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    content: "";
    position: relative;
    top: 13px;
    right: -5px;
}

.sort.desc:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
    content: "";
    position: relative;
    top: -10px;
    right: -5px;
}

.people-img {
    float: left;
    /*min-width: 100px;*/
    max-width: 70px;
    min-height: 70px;
    /*max-height: 100px;*/

}

.pagination li {
    display: inline-block;
    padding: 5px;
    color: #1e1e1e;
}

.responsive-table {
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
    height: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {

    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

th {
    background-color: #698486;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    padding: 22px 17px;
}

td {
    background-color: #ffffff;
    font-size: 12px;
    letter-spacing: 0.02em;
    padding: 25px 17px;
    color: #1e1e1e;

}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    table {
        width: 100%;
    }

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #ccc;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        padding-left: 40%;
        height: 60px;

    }

    table td:before {
        /* Now like a table header */
        position: absolute;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        content: attr(data-column);
        color: #000;
        font-weight: bold;
    }

    .content-to-hide {
        display: none;
    }
}




label {
    color: white;
}

input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
    margin-left: 25px;
}


.accordion {
    background: #1e1e1e;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-radius: 6px;
}

.active, .accordion:hover {
    /*background-color: #1e1e1e;*/
}

.panel {
    display: none;
    background-color: #1e1e1e;
    overflow: hidden;
    width: 100%;
}


/* The container */
.container {
    display: block;
    position: relative;
    margin-bottom: 10px;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
    top: 0;
    left: 0;
}


.subclass {
    margin-left: 30px;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.csv {
    padding: 8px 30px;
    border-radius: 6px;
    border: none;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    background-color: #28a8e0;
    height: 40px;
}

table .status {
    table-layout: auto;
    width: 100%;
}


#users {
    width: 100%;
}

.photo {
    padding-top: 0;
    padding-bottom: 0;
}

.sort-btn {
    text-align: center;
    padding: -15px;
}

.csvbtn {
    padding: 8px 30px;
    border-radius: 6px;
    border: none;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    background-color: #28a8e0;
    height: 40px;
    min-width: 210px;
    cursor: pointer;
}

.csvbtn:hover {
    text-decoration: none;
    background-color: #1b8aba;
}

.csvbtn:focus {
    outline: none;
}

