.header input[type=text]{
    width: 130px;
    height: 40px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    background-color: white;
    background-image: url('../image/search_icon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 50px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-left: 30px;
    margin-top: 5px;

}

.header input[type=text]:focus{
    width: 42%;
}

.btn-warning{
    width: 120px;
    float: right;
    margin: 10px;
    margin-top: 5px;
    margin-right: 30px;
    border-radius: 20px;
    background-color: transparent;
}

.card{
    margin: 20px 15px 20px 15px;
    padding: 15px;
    border-radius: 15px;
    font-size: 16px;

}

p{
    font-size: 15px;
}

.modal-dialog .btn{
    width: 130px;
}
.modal-body p{
    color: black;
}

.card button{
    width: 50px;
    margin: 5px;
    float: right;
    border-radius: 12px;
}

hr{
  margin-top: -8px;
}

h5{
    color: #2980b9;
}

.card li{
    display: inline;
    margin-left: -38px;
    padding: 18px;
    font-size: 15px;
}

ol{
    display: inline;
    margin-top: -40px;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #666;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}