.quiz-canvas {
    width: 100%;
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.quiz-title {
    text-align: center;
}

.quiz {
    max-width: 750px;
    margin: auto;
}

.question-wrapper {
    background: #17a2b8;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.question-delete {
    margin-top: 15px;
}

.question {
    margin-left: 50px;
    padding: 5px;
}

.opt-canvas {
    min-height: 0;
    padding-right: 0;
    padding-left: 0;
}

.new-question-btn {
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    color: #fff;
    background: #5a6268;
}

/* --- */
.mc-opt-wrapper {
    width: 100%;
    overflow: hidden;
    margin: 0;
    margin-bottom: 5px;
}

.mc-opt-delete-sidebar {
    max-width: 50px;
    min-width: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 0;
}

.mc-opt-delete-sidebar button {
    width: 100%;
    text-align: center;
    max-width: 50px;
    min-width: 50px;
    padding: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background: #cccccc;
}

.mc-opt-delete-sidebar button:hover {
    background: #a41515;
    color: #ffffff;
}

.mc-opt-content {
    background: #17a2b8;
    padding: 5px;
}

.essay-question {
    background: #5E5694;
}

.numeric-scale-question {
    background: #2ecc71;
}

.scale-value {
    padding: 0;
    min-width: 80px;
}

.mc-opt-content input {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.mc-opt-correct-sidebar {
    max-width: 50px;
    min-width: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0;
}

.mc-opt-correct-sidebar button {
    width: 100%;
    text-align: center;
    max-width: 50px;
    min-width: 50px;
    padding: 0;
    margin: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: #cccccc;
}

.mc-opt-correct-sidebar i {
    padding-top: 5px;
}

.mc-opt-correct-sidebar button.active {
    color: #2ecc71;
}

.form-error-msg {
    color: red;
}

/******************************************************/
/************          MODAL           ****************/
/******************************************************/

.modal-body {
    margin: 10px;
}

.modal-content {
    min-width: 760px;
    min-height: 450px;
}

.blank-questions-wrapper {
    float: left;
    padding: 0;
}

#dropdownMenuButton {
    width: 100px;
}

.existing-questions-wrapper {
    width: 100%;
    padding: 0;
    overflow: hidden;
}

.results-wrapper {
    margin-left: 0;
}

.search-question-wrapper {
    margin: 0;
    width: 100%;
}

.search {
    padding: 0;
    /*margin-left: 5px;*/
}

.dividing-bar {
    width: 5px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    background: black;
    margin-left: 0;
    margin-right: 15px;
}

.text-input {
    padding-left: 10px;
}

.dropdown {
    width: 100%;
    padding: 0;
    margin: 0;
}

.q-option {
    margin-left: 15px;
}

.is-correct {
    color: green;
}

.q-result {
    color: black;
    background: #fafafa;
    border: none;
    border-radius: 0;
    padding: 10px 15px;
    margin: 0;
    margin-top: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    width: 100%;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: none;
}

.q-type {
    float: left;
    color: #000000;
    margin-right: 10px;
}

.collapse.show {
  visibility: visible;
}
