.quiz-canvas {
    width: 100%;
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.quiz-title {
    text-align: center;
}

.quiz {
    max-width: 750px;
    margin: auto;
}

.question-wrapper {
    background: mediumpurple;
    border-radius: 10px;
    margin-bottom: 10px;
}

.question {
    margin-left: 50px;
    padding: 5px;
}

.question-label {
}

.card-body {
    min-height: 0;
}