.quiz-canvas {
    width: 100%;
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.quiz-title {
    text-align: center;
}

.quiz {
    max-width: 750px;
    margin: auto;
}

.question-wrapper {
    background: #17a2b8;
    border-radius: 10px;
    margin-bottom: 10px;
}

.question {
    margin-left: 50px;
    padding: 5px;
}

.question-label {
}

.opt-canvas {
    min-height: 0;
    padding-right: 0;
}

.new-question-btn {
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    color: #fff;
    background: #5a6268;
}

/* --- */
.mc-opt-wrapper {
    width: 100%;
    overflow: hidden;
}

.mc-opt-delete-sidebar {
    height: 10px;
    background: red;
    max-width: 50px;
    min-width: 50px;
}

.mc-opt-content {
    background: blueviolet;
    padding: 5px;
}

.mc-opt-content input {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
