option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "alpastor.settings"
    PYTHONPATH: "/opt/python/current/app/alpastor:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
      WSGIPath: "alpastor/wsgi.py"
  option_name: PYTHONPATH
    value: /opt/python/ondeck/app/myapp:$PYTHONPATH
