container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python alpastor/manage.py migrate --noinput"
  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python alpastor/manage.py createsu"
    leader_only: true
    leader_only: true
  03_collect_static:
    command: "source /opt/python/run/venv/bin/activate && python alpastor/manage.py collectstatic --noinput"
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "alpastor.settings"
    PYTHONPATH: "/opt/python/current/app/alpastor:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "alpastor/alpastor/wsgi.py"
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "static/"
