{% autoescape off %}
    <p>
        To initiate the password reset process for your {{ user.get_username }} EPITA account,
        click the link below:
    </p>

    <a href="{{ protocol }}://{{ domain }}{% url 'resetpass' token=token %}">
        {{ protocol }}://{{ domain }}{% url 'resetpass' token=token %}
    </a>

    <p>
        If clicking the link above doesn't work, please copy and paste the URL in a new browser
        window instead.
    </p>

    <p>
        Sincerely,
    </p>
    <p>
        The Tacos Al Pastor dev squad @ EPITA
    </p>
{% endautoescape %}