{% autoescape off %}
    <div>
        <p>
            You or someone has initiated a password reset for your account with EPITA.
            This email address is not associated with the site. If you have another email that you've registered
            please try again with that email.
        </p>

        <p>If you don't have any accounts and received this email from someone else, ignore entirely.</p>

        <p>Sincerely,</p>
        <p>The Tacos Al Pastor dev squad @ EPITA</p>
    </div>

{% endautoescape %}