<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>

<div class="container">
    {% if validlink %}
        <h3>Password Reset</h3>
        <h5>{{ user.email }}</h5>
        <form method="post">
            {% csrf_token %}
            {% if form.errors %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong style="color: red">{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            {% for field in form.visible_fields %}
                <div class="form-row">
                    <div class="col-4 form-label">
                        <label for="{{ field.name }}">{{ field.label }}</label>
                    </div>
                    <div class="col-6">
                        {{ field }}
                    </div>
                </div>
            {% endfor %}
            <br>
            <button class="btn btn-success" type="submit">Change password</button>
        </form>
    {% else %}
        <p>
            The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.
        </p>
    {% endif %}
</div>

</body>

<style type="text/css">
    .container {
        text-align: center;
        max-width: 700px;
        margin: auto;
    }

    .input-group {
        width: 100%
    }

    .form-label {
        text-align: right;
    }

    .form-row {
        margin-bottom: 5px;
    }
</style>
</html>