{% extends 'base_generic.html' %}

{% load static %}

{% block content %}
        <table class="table text-center">
            <thead class="thead-inverse">
                <tr>
                    <th>Course</th>
                </tr>
            </thead>
            <tbody>
                {% for course in courses %}
                    <tr>
                        <td>
                        <button type="button" class="btn btn-primary">{{ course.course_id }} {{ course.start_time}} - {{ course.end_time}} </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}