{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <title>EPITA International</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js'></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base_generic.css' %}">
    <script src="{% static 'js/utils.js' %}"></script>
    <link rel="icon" type="image/png" href="{% static 'image/favicon.ico' %}" />
    <!--[if IE]><link rel="shortcut icon" type="image/x-icon" href="{% static 'image/favicon.ico' %}" /><![endif]-->

    {% block additional_links %}
    {% endblock %}
</head>

<body>


<div class="wrapper">

    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="active sidebar-header">
            <img src="{% static 'image/portraits/generic_avatar.jpg' %}" class="nav-avatar">
            <a href="/login">
                <button type="button" class="btn">Logout</button>
            </a>
        </div>

        <ul class="list-unstyled components">
            <li class="active hover-left-brdr">
                <a href="/dashboard">
                    <i class="fa fa-tachometer-alt"></i>
                    <span class="base-generic-lmargin">Dashboard</span>
                </a>
            </li>
            <li class="active hover-left-brdr">
                <a href="/account_update">
                    <i class="fa fa-address-card fa-fw"></i>
                    <span class="base-generic-lmargin">Account</span>
                </a>
            </li>
            <li class="active hover-left-brdr">
                <a href="/people">
                    <i class="fa fa-address-book fa-fw"></i>
                    <span class="base-generic-lmargin">People</span>
                </a>
            </li>
{#            <li class="active hover-left-brdr">#}
{#                <a href="/quiz">#}
{#                    <i class="fa fa-pencil-alt fa-fw"></i>#}
{#                    <span class="base-generic-lmargin">Quiz</span>#}
{#                </a>#}
{#            </li>#}
            <li class="active hover-left-brdr">
                <a href="/attendance">
                    <i class="fa fa-user-check"></i>
                    <span class="base-generic-lmargin">Attendance</span>
                </a>
            </li>

            {% if request.user.is_superuser %}
            <li class="active hover-left-brdr">
                <a href="/manageusers">
                    <i class="fa fa-users"></i>
                    <span class="base-generic-lmargin">Manage Users</span>
                </a>
            </li>
            {% endif %}
            <li class="active hover-left-brdr">
                <a href="/graphs">
                    <i class="fa fa-chart-line"></i>
                    <span class="base-generic-lmargin">Graphs</span>
                </a>
            </li>
        </ul>
    </nav>

    <!-- Page Content Holder -->
    <div id="content" class="fill-width">

        <nav class="navbar navbar-default">
            <div class="container-fluid">



            <button type="button" id="sidebarCollapse" class="navbar-btn">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            </div>

            <script type="text/javascript">
                $(document).ready(function () {
                    $('#sidebarCollapse').on('click', function () {
                        $('#sidebar').toggleClass('active');

                        $(this).toggleClass('active');
                    });
                });
            </script>

        </nav>
        <hr>

{% block content %}
{% endblock %}

    </div>

</div>

</body>

</html>
