{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <title>EPITA International</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'css/base_generic.css' %}">
    <link rel="stylesheet" href="{% static 'css/people.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css' %}">
    <script src="{% static 'js/utils.js' %}"></script>
    {% block additional_links %}
    {% endblock %}
</head>

<body>

<div class="wrapper">

    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="active sidebar-header">
            <img src="{% static 'image/portraits/generic_avatar.jpg' %}" class="nav-avatar">
            <a href="/login">
                <button type="button" class="btn">Logout</button>
            </a>
        </div>

        <ul class="list-unstyled components">
            <li class="active hover-left-brdr">
                <a href="/">
                    <i class="fa fa-tachometer-alt"></i>
                    <span class="base-generic-lmargin">Dashboard</span>
                </a>
            </li>
            <li class="active hover-left-brdr">
                <a href="/people">
                    <i class="fa fa-address-book"></i>
                    <span class="base-generic-lmargin">People</span>
                </a>
            </li>
            <li class="active hover-left-brdr">
                <a href="#">
                    <i class="fa fa-pencil-alt"></i>
                    <span class="base-generic-lmargin">Quiz</span>
                </a>
            </li>
            <li class="active hover-left-brdr">
                <a href="/quizbuilder">
                    <i class="fa fa-pencil-alt"></i>
                    <span class="base-generic-lmargin">[DEV] Quiz Builder</span>
                </a>
            </li>
            <li class="active hover-left-brdr">
                <a href="/attendance">
                    <i class="fa fa-pencil-alt"></i>
                    <span class="base-generic-lmargin">Attendance</span>
                </a>
            </li>
{#            <li class="active hover-left-brdr">#}
{#                <a href="/attendance-student">#}
{#                    <i class="fa fa-pencil-alt"></i>#}
{#                    <span class="base-generic-lmargin">Attendance-Student</span>#}
{#                </a>#}
{#            </li>#}
        </ul>
    </nav>

    <!-- Page Content Holder -->
    <div id="content" class="fill-width">

        <nav class="navbar navbar-default">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                        <i id="sideToggleBtn" class="fa fa-arrow-circle-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>
                </div>

            </div>

            <script type="text/javascript">
                $(document).ready(function () {
                    $('#sidebarCollapse').on('click', function () {
                        $('#sidebar').toggleClass('active');
                        $('#sideToggleBtn').toggleClass('fa-arrow-circle-left fa-arrow-circle-right');
                    });
                });
            </script>

        </nav>

        <div class="wrapper">

            {% block content %}
            {% endblock %}

        </div>
    </div>
</div>
</body>
</html>
