{% extends 'base_generic.html' %}

{% load static %}

{% block additional_links %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-3">
            <div class="well">
                <h4>Countries</h4>
                <p>{{ country.count }}</p>
            </div>
            <div class="well">
                <h4>Students</h4>
                <p>{{ active_students.count }}</p>
            </div>
            <div class="well">
                <h4> Select Graph </h4>
                <select class="div-toggle" data-target=".my-info-1">
                    <option value="country" data-show=".country">Country</option>
                    <option value="program" data-show=".program">Program</option>
                    <option value="specialization" data-show=".specialization">Specialization</option>
                    <option value="semester" data-show=".semester">Semester</option>
                </select>
            </div>
        </div>

        <div class="col-sm-8 well my-info-1" style="margin-left: 14px;">

            <div class="country hide graph">
                <canvas id="myChart" width="100" height="100"></canvas>
            </div>
            <div class="program hide graph">
                <canvas id="myChartProgram" width="100" height="100"></canvas>
            </div>
            <div class="specialization hide graph">
                <canvas id="myChartSpl" width="100" height="100"></canvas>
            </div>
            <div class="semester hide graph">
                <canvas id="myChartSem" width="100" height="100"></canvas>
            </div>
        </div>
    </div>

    {#    <div class="row">#}
    {#        {% for item in country %}#}
    {#            {{ item }}#}
    {##}
    {#        {% endfor %}#}
    {##}
    {#        <br>#}
    {##}
    {#        {{ vaar2 }}#}
    {##}
    {#        {% for y in vaar2 %}#}
    {##}
    {#            {{ y.the_count }}#}
    {##}
    {#        {% endfor %}#}
    {#        {% for x in vaar2 %}#}
    {##}
    {#            {{ x.country }}#}
    {##}
    {#        {% endfor %}#}
    {##}
    {#        {% for value in splgraph %}#}
    {#            {{ value.specialization }}#}
    {#        {% endfor %}#}
    {##}
    {#        {% for number in splgraph %}#}
    {#            {{ number.count_specialization }}#}
    {##}
    {#        {% endfor %}#}
    {#    </div>#}



    <script>

        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [{% for item in country %} "{{ item.country }}", {% endfor %}],

                datasets: [{

                    data: [{% for y in country %}

                        {{ y.the_count }},

                    {% endfor %}],
                    backgroundColor: [{% for y in country %}

                        getRandomColorHex(),

                    {% endfor %}],
                    borderColor: [{% for y in country %}

                        "#f5f5f5",

                    {% endfor %}],
                    borderWidth: 1
                }]
            },
            options: {

                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                title: {
                    display: true,
                    text: 'Country',
                    fontSize: 30
                },
                legend: {
                    display: false,
                }
            }
        });
        {#program        #}

        var ctxx = document.getElementById("myChartProgram").getContext('2d');
        var myChartProgram = new Chart(ctxx, {
            type: 'bar',
            data: {
                labels: [{% for item in program %} "{{ item.program }}", {% endfor %}],
                datasets: [{

                    data: [{% for a in program %} {{ a.count_program }}, {% endfor %}],
                    backgroundColor: [{% for a in program %} getRandomColorHex(), {% endfor %}],
                    borderColor: [{% for a in program %} "#111", {% endfor %}],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                title: {
                    display: true,
                    text: 'Program',
                    fontSize: 30
                },
                legend: {
                    display: false,
                }
            }
        });
        {#course#}
        var third = document.getElementById("myChartSpl").getContext('2d');
        var myChartSpl = new Chart(third, {
            type: 'bar',
            data: {
                labels: [{% for value in splgraph %} "{{ value.specialization }}", {% endfor %}],
                datasets: [{

                    data: [{% for number in splgraph %}

                        {{ number.count_specialization }},

                    {% endfor %}],
                    backgroundColor: [{% for number in splgraph %}

                        getRandomColorHex(),

                    {% endfor %}],
                    borderColor: [{% for a in splgraph %} "#111", {% endfor %}],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            autoSkip: false,
                        }
                    }]
                },
                title: {
                    display: true,
                    text: 'Specialization',
                    fontSize: 30
                },
                legend: {
                    display: false,
                }
            }


        });

        var fourth = document.getElementById("myChartSem").getContext('2d');
        var myChartSem = new Chart(fourth, {
            type: 'bar',
            data: {
                labels: [{% for x in intakeSemester %} "{{ x.intake_season }} {{ x.intake_year }}", {% endfor %}],
                datasets: [{

                    data: [{% for sem in intakeSemester %}

                        {{ sem.count }},

                    {% endfor %}],
                    backgroundColor: [{% for sem in intakeSemester %}

                        getRandomColorHex(),

                    {% endfor %}],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(255,99,132,1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                title: {
                    display: true,
                    text: 'Intake Semester',
                    fontSize: 30
                },

                legend: {
                    display: false,
                }
            }


        });


        function getRandomColorHex() {
            var hex = "0123456789ABCDEF",
                color = "#";
            for (var i = 1; i <= 6; i++) {
                color += hex[Math.floor(Math.random() * 16)];
            }
            return color;
        }


        $(document).on('change', '.div-toggle', function () {
            var target = $(this).data('target');
            var show = $("option:selected", this).data('show');
            $(target).children().addClass('hide');
            $(show).removeClass('hide');
        });
        $(document).ready(function () {
            $('.div-toggle').trigger('change');
        });


    </script>
{% endblock %}
