{% extends 'base_generic.html' %}

{% load static %}

{% block content %}

    <div class="row">
        {% for item in country %}
            {{ item }}

        {% endfor %}

        <br>

        {{ vaar2 }}

        {% for y in vaar2 %}

            {{ y.the_count }}

        {% endfor %}
        {% for x in vaar2 %}

            {{ x.country }}

        {% endfor %}

    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-4 offset-lg-1">
                <h1>Country</h1>
                <canvas id="myChart" width="100" height="100"></canvas>
            </div>
            <div class="col-sm-4 offset-lg-1">
                <h1>Prog</h1>
                <canvas id="myChartProgram" width="100" height="100"></canvas>
            </div>
        </div>
    </div>


    <script>

        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [{% for item in country %} "{{ item }}", {% endfor %}],
                datasets: [{
                    label: '# of people',
                    data: [{% for y in vaar2 %}

                        {{ y.the_count }},

                    {% endfor %}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
        {#program        #}
        var ctxx = document.getElementById("myChartProgram").getContext('2d');
        var myChartProgram = new Chart(ctxx, {
            type: 'bar',
            data: {
                labels: [{% for item in program %} "{{ item.program }}", {% endfor %}],
                datasets: [{
                    label: '# of people',
                    data: [{% for a in program %}

                        {{ a.count_program }},

                    {% endfor %}],
                    backgroundColor: [
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
        {#course#}


    </script>
{% endblock %}