{% extends 'base_generic.html' %}

{% load static %}

{% block additional_links %}
    <link rel="stylesheet" href="{% static 'css/people.css' %}">

{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="people-canvas">
            <form class="search">
                <input id="searcher" placeholder="Search" class="sbar" type="text">
            </form>


            <div class="dropdownn" style="float:right">
                <button class="dropbtn">Sort</button>
                <div class="dropdownn-content">
                    <button id="sort">By name</button>
                    <button id="numBnt">By year</button>
                </div>
            </div>

            <button onClick="doCsv()">EXPORT to csv</button>

            <br>

            <button class="accordion">Filter</button>


            <div class="panel">

                <label class="container">ME
                    <input type="checkbox" id="1" value="ME">
                    <span class="checkmark"></span>
                </label>
                <label class="container subclass">SDM
                    <input type="checkbox" id="SDM" value="SDM">
                    <span class="checkmark"></span>
                </label>
                <label class="container subclass">SNS
                    <input type="checkbox" id="SNS" value="SNS">
                    <span class="checkmark"></span>
                </label>
                <label class="container subclass">GITM
                    <input type="checkbox" id="GITM" value="GITM">
                    <span class="checkmark"></span>
                </label>
                <label class="container">MSc
                    <input type="checkbox" id="2" value="MSc">
                    <span class="checkmark"></span>
                </label>

                <label class="container subclass">SE
                    <input type="checkbox" id="SE" value="SE">
                    <span class="checkmark"></span>
                </label>

                <label class="container subclass">ISM
                    <input type="checkbox" id="ISM" value="ISM">
                    <span class="checkmark"></span>
                </label>

                <label class="container subclass">CS
                    <input type="checkbox" id="CS" value="CS">
                    <span class="checkmark"></span>
                </label>
                <label class="container subclass">DSA
                    <input type="checkbox" id="DSA" value="DSA">
                    <span class="checkmark"></span>
                </label>

                <label class="container">Global IT Management
                    <input type="checkbox" id="3" value="3">
                    <span class="checkmark"></span>
                </label>

            </div>

        </div>

        <div id="nT">
            <div class="row wrapper secondDiv stdfilter" id="items">

                {% for student in students %}

                    <div class="entryDiv" data-category="{{ student.program }}"
                         data-level="{{ student.specialization }}">
                        <div class="col-sm-12 col-md-4 col-lg-3 people-block">

                            <div class="people-header text-block">
                                <div class="name"> Name:</div>
                                {{ student.user.first_name }} {{ student.user.last_name }} <br></div>

                            <div class="people-img">
                                {% if student.photo_location != "" %}
                                    {% with 'image/portraits/'|add:student.photo_location as image_static %}
                                        <img class="center-block" src="{% static image_static %}"
                                             alt={{ student.first_name }}>
                                    {% endwith %}
                                {% else %}
                                    <img src="{% static 'image/portraits/generic_taco.jpg' %}" alt="Default taco"
                                         class="people-img">
                                {% endif %}
                            </div>
                            <div class="people-top">
                                <div class="people-names" id="demo">
                                    <input hidden
                                           value="{{ student.user.get_full_name }} {{ student.country }} {{ student.program }} {{ student.specialization }} {{ student.intakeYear }} {{ student.user.email }}">
                                    <strong> Country :</strong>{{ student.country }} <br>
                                    {% with 'image/flags/'|add:student.country_code|add:'.jpg' as image_static %}
                                        <img src="{% static image_static %}" alt={{ student.first_name }}>
                                    {% endwith %}
                                </div>
                            </div>
                            <div class="people-bot">
                                <div class="people-info">
                                    <strong>EPITA Email :</strong>{{ student.user.email }}<br>
                                    <strong>Email :</strong> {{ student.user.external_email }}<br>
                                    <strong>Phone :</strong> {{ student.phone }}<br>
                                    <strong>Program :</strong> {{ student.program }}<br>
                                    <strong>Specialization : </strong> {{ student.specialization }}<br>
                                    <div class="text-block2">
                                        <article><strong> Semester :</strong> {{ student.intakeSemester }}</article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {#<div class="col-sm-6 col-sm-offset-3"><a href="#" id="prev">prev</a>#}
        {#<a href="#" id="next">next</a>#}
        {#<br />#}
        {#<span id="total"></span>#}
        {#    </div>#}
    </div>

    <script>


        // search everything
        $("#searcher").on("keyup click input", function () {
            var val = $(this).val();
            $('.prod >div').show();

            if (val.length) {
                $(".secondDiv .entryDiv").hide().filter(function () {
                    return $('input', this).val().toLowerCase().indexOf(val.toLowerCase()) != -1;
                }).show();
            }
            else {
                $(".secondDiv .entryDiv").show();
            }
        });

        // filter
        $('input[type="checkbox"]').click(function () {
            if ($('input[type="checkbox"]:checked').length > 0) {
                $('.stdfilter > div').hide();
                $('input[type="checkbox"]:checked').each(function () {
                    $('.stdfilter >div[data-category=' + this.id + ']').show();
                    $('.stdfilter >div[data-level=' + this.id + ']').show();
                });
            } else {
                $('.stdfilter >div').show();

            }
        });

        //filter everything


        //random try


        // accordion
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }


        // sort by name and year
        var $divs = $(".entryDiv");
        $("#sort").on("click", function () {

            var alpha = $divs.sort(function (a, b) {

                    return $(a).find(".text-block").text() > $(b).find(".text-block").text();
                }
            );

            $(".row").html(alpha);

        });

        $('#numBnt').on('click', function () {
            var numericallyOrderedDivs = $divs.sort(function (a, b) {
                return $(a).find(".text-block2").text().replace(/([a-zA-Z])/g, '') > $(b).find(".text-block2").text().replace(/([a-zA-Z])/g, '');
            });
            $(".row").html(numericallyOrderedDivs);
        });

        // download csv
        function doCsv() {

            var nT = document.getElementById("nT").innerHTML;
            var dataa = nT.replace(/<strong>/g, '')
                .replace(/<\/strong>/g, '')
                .replace(/<div([\w\W]+?)>/g, '')
                .replace(/<br>/g, ', ')
                .replace(/\s+/g, ' ')
                .replace(/<\n>/g, '')
                .replace(/<\/div>/g, '')
                .replace(/<input([\w\W]+?)>/g, '')
                .replace(/<img([\w\W]+?)>/g, '')
                .replace(/<article>/g, '')
                .replace(/<\/article>/g, '\n');


            var download = function (content, fileName, mimeType) {
                var a = document.createElement('a');
                mimeType = mimeType || 'application/octet-stream';

                if (navigator.msSaveBlob) { // IE10
                    navigator.msSaveBlob(new Blob([content], {
                        type: mimeType
                    }), fileName);
                } else if (URL && 'download' in a) { //html5 A[download]
                    a.href = URL.createObjectURL(new Blob([content], {
                        type: mimeType
                    }));
                    a.setAttribute('download', fileName);
                    document.body.appendChild(a);
                    a.click();
                    document.body.removeChild(a);
                } else {
                    location.href = 'data:application/octet-stream,' + encodeURIComponent(content); // only this mime type is supported
                }
            }

            download(dataa, 'Students.csv', 'text/csv;encoding:utf-8');
        }


        var max = 5;
        var pageNum = 0;
        var _ = $('#nT .people-block');

        $(document).ready(function () {
            var total = _.length;
            var pages = total / max;


            $('#prev').click(function () {
                pageNum--;
                sort("prev");
            });

            $('#next').click(function () {
                pageNum++;
                sort("next");
            });
            $('#next').trigger('click');
        });


        function sort(a) {
            _.hide();
            _.filter(function (i) {
                return i >= (pageNum - 1) * max && i < (pageNum) * max;
            }).show();
            $("#total").text("page " + pageNum + " of " + Math.ceil($('#rows .row').length / max));
        }

    </script>
{% endblock %}
