
{% extends 'base_generic.html' %}

{% load static %}

{% block additional_links %}
    <link rel="stylesheet" href="{% static 'css/quiz.css' %}">

{% endblock %}

{% block content %}
<div class="canvas">
 <div class="header">
          <input type="text" name="search" id="searchCourse" placeholder="search for course or quiz title...">
          <a href="quiz_builder/"><button type="button" class="btn btn-warning">Create Quiz</button></a>
 </div>
</div>

<div class="canvas">
 <div class="container">
          <br>
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#home">Draft</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#menu1">Ready</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#menu2">Completed</a>
            </li>
          </ul>

  <!-- Tab panes -->
     <div class="tab-content">
{% for quiz in quizzes %}
        <div id="home" class="container tab-pane active"><br>
            {% if quiz.status == Quiz.DRAFT %}
            <div class="card">
             <input hidden value="{{ quiz.course.title}} {{ quiz.title}} ">
                 <h5>{{ quiz.title }}</h5>
                     <ol>

                       <a href="/quiz/?quiz_id={{ quiz.id }}"><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal"><span class="fa fa-trash" data-toggle="tool-tip" data-placement="top" title="Delete quiz"></span></button></a>
                       <a href="/quiz/quiz_builder?quiz_id={{ quiz.id }}"><button type="button" class="btn btn-default" data-toggle="tool-tip" data-placement="top" title="Edit quiz"><span class="fa fa-pencil-alt"></span></button></a>
                       <button type="button" class="btn btn-success"  data-toggle="tool-tip" data-placement="top" title="Open quiz" onclick="myFunction(this)"><span class="fa fa-lock" id="openCloseSpan"></span></button>

                               <div id="snackbar">{{ quiz.title }} sent to Ready</div>
                     </ol>
                <hr>
            <div class="quiz_container">
                        <h6><b>{{ quiz.course.title }}</b></h6>
                        <br>
            </div>
                <hr>
                    <ul>
                      <a href="#" ><li data-toggle="tool-tip" data-placement="bottom" title="Quiz date"><i class="fa fa-calendar fa-fw"></i> {{quiz.created_on }}</li></a>
                      <a href="#" ><li data-toggle="tool-tip" data-placement="bottom" title="Quiz duration"><img src="{% static 'image/old-hourglass-.png' %}"> 60 min</li></a>
                    </ul>

            </div>
                {% else %}
                <p>No drafts !!!</p>
                {% endif %}

        </div>
    <div id="menu1" class="container tab-pane fade"><br>
        {% if quiz.status == Quiz.READY %}
        {% else %}
        {% endif%}
        </div>
    <div id="menu2" class="container tab-pane fade"><br>
        {% if quiz.status == Quiz.COMPLETED %}
        {% else %}
        {% endif%}
    </div>
{% endfor %}
    </div>
    </div>
</div>

            <!-- MODAL -->
 <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
            <!-- Modal content-->
           <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">Delete</h4>
                  <button type="button" class="close" data-dismiss="modal"><img src="{% static 'image/cancel.png' %}"></button>
              </div>
            <div class="modal-body">
                <p>Are you sure you want to delete {{ quiz.course.title }} ??</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
                <a href="/quiz?quiz_id={{ quiz.id }}"><button type="button" class="btn btn-primary" data-dismiss="modal">Yes, I am sure</button></a>
            </div>
            </div>
    </div>
 </div>

    <script>
      //tooltip
            $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip();
            });
      //snackbar
            function myFunction() {
    // Get the snackbar DIV
    var x = document.getElementById("snackbar1");
   // var x = document.getElementById("snackbar2");


    // Add the "show" class to DIV
    x.className = "show";

    // After 3 seconds, remove the show class from DIV
    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
}
    </script>

    <script>
            $("#searchCourse").on("keyup click input", function () {
                var val = $(this).val();
                if (val.length) {
                    $(".card").hide().filter(function () {
                        return $('input', this).val().toLowerCase().indexOf(val.toLowerCase()) != -1;
                    }).show();
                }
                else {
                    $(".card").show()
                }
            });
    </script>

{% endblock %}