{% extends 'base_generic.html' %}

{% load static %}

{% block additional_links %}
    <link rel="stylesheet" href="{% static 'css/quiz_builder.css' %}">
    <script src="{% static 'js/quiz_builder.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="quiz-canvas">
        <div class="quiz">
            <h1 class="quiz-title">Quiz Builder</h1>

            <div class="form-group">
                <label for="quizTitle">Quiz Title</label>
                <input type="text" class="form-control" id="quizTitle" aria-describedby="quizTitleHelp" placeholder="Enter quiz title">
            </div>

            <div id="question-canvas">
                <!-- This is to be filled in via javascript functions -->
            </div>

            <div style="text-align: center">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newQuestionModal" onclick="addMultipleChoiceQuestion();">
                    Add Question
                </button>
            </div>

        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="newQuestionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <script type="application/javascript">
        function addMultipleChoiceQuestion() {
            var questionCanvas = document.getElementById('question-canvas');

            var wrapperDiv = document.createElement('div');
            wrapperDiv.classList.add('question-wrapper');

            var cardDiv = document.createElement('div');
            cardDiv.classList.add('card');
            cardDiv.classList.add('question');

            {% for field in mcform.visible_fields %}
                cardDiv.innerHTML += '<span class="question-label">{{ field.label }}</span>';
                cardDiv.innerHTML += '{{ field }}';
            {% endfor %}

            var optionCanvas = document.createElement('div');
            optionCanvas.classList.add('card-body');
            optionCanvas.classList.add('opt-canvas');
            var optionCanvasId = getNewID();
            optionCanvas.setAttribute('id', optionCanvasId);

            wrapperDiv.appendChild(cardDiv);
            cardDiv.appendChild(optionCanvas);

            var newQuestionButtonDiv = document.createElement('button');
            newQuestionButtonDiv.classList.add('new-question-btn');
            newQuestionButtonDiv.classList.add('btn');
            newQuestionButtonDiv.classList.add('fa');
            newQuestionButtonDiv.classList.add('fa-plus');

            var buttonOnClick = "addMultipleChoiceOption(" + optionCanvasId + ");";
            newQuestionButtonDiv.setAttribute('onclick', buttonOnClick);

            cardDiv.appendChild(newQuestionButtonDiv);
            questionCanvas.appendChild(wrapperDiv);
        }

        function addMultipleChoiceOption(optCanvasId) {
            optCanvas = document.getElementById(optCanvasId);

            var optWrapper = document.createElement('div');
            optWrapper.classList.add('row');
            optWrapper.classList.add('mc-opt-wrapper');

            var deleteSidebar = document.createElement('div');
            deleteSidebar.classList.add('col');
            deleteSidebar.classList.add('col-sm');
            deleteSidebar.classList.add('mc-opt-delete-sidebar');

            var trashButton = document.createElement('button');
            trashButton.classList.add('b')

            var optContent = document.createElement('div');
            optContent.classList.add('mc-opt-content');
            optContent.classList.add('col');
            optContent.classList.add('col-lg-auto');

            optContent.innerHTML += '{{ mcoptform.content }}';

            optWrapper.appendChild(deleteSidebar);
            optWrapper.appendChild(optContent);

            optCanvas.appendChild(optWrapper);

            console.log(optCanvas);
        }
    </script>
{% endblock %}
