{% extends 'base_generic.html' %}

{% load static %}

{% block additional_links %}
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block content %}
    <div class="card-body container-fluid">
        <div class="row">
            <div class="add-single-user-form col-8">
                {% if request.user.is_staff == False %}
                    {% if student.photo %}
                        <img class="user-photo" src="{{ student.photo.url }}">
                        <br>
                    {% endif %}
                    <label for="first_name">First names:</label>
                    <input class="input-group" type="text" id="first_name" name="first_name" disabled="True" placeholder="{{ student.user.first_name }}" value="{{ student.user.first_name }}">

                    <label for="last_name">Last name:</label>
                    <input class="input-group" type="text" id="last_name" name="last_name" disabled="True" placeholder="{{ student.user.last_name }}" value="{{ student.user.last_name }}">

                    <label for="program">Program:</label><br>
                    <input class="input-group" type="text" id="program" name="program" placeholder="{{ student.get_program_display }}" value="{{ student.get_program_display }}" disabled="True">

                    <label for="specialization">Specialization:</label><br>
                    <input class="input-group" type="text" id="specialization" name="specialization" placeholder="{{ student.get_specialization_display }}" value="{{ student.get_specialization_display }}" disabled="True">

                    <label for="intake-season">Intake Season:</label><br>
                    <input class="input-group" type="text" id="intake-season" name="intake-season" placeholder="{{ student.get_intake_season_display }}" value="{{ student.get_intake_season_display }}" disabled="True">

                    <label for="intake-year">Intake Year:</label><br>
                    <input class="input-group" type="text" id="intake-year" name="intake-year" placeholder="{{ student.intake_year }}" value="{{ student.intake_year }}" disabled="True">


                {% endif %}
                {% if request.user.is_staff == True %}
                    <label for="first_name">First names:</label>
                    <input class="input-group" type="text" id="first_name" name="first_name" disabled="True" placeholder="{{ professor.user.first_name }}" value="{{ professor.user.first_name }}">

                    <label for="last_name">Last name:</label>
                    <input class="input-group" type="text" id="last_name" name="last_name" disabled="True" placeholder="{{ professor.user.last_name }}" value="{{ professor.user.last_name }}">
                {% endif %}
                <form class="update-student" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form }}
                    <div style="text-align: center;">
                        <br>
                        <button class="btn btn-info" type="submit" value="OK"> Update</button>
                    </div>
                    {#                </div>#}
                </form>

            </div>
        </div>

    </div>
    {% comment %}
        <div class="row">
            <div class="col-6">
                <label>Professor</label><br> onclick="updateStudentInfo();" enctype="multipart/form-data"
                <input type="radio" name="staff" value="professor" onchange="toggleStudentForm(this)" checked="checked">
            </div>
            <div class="col-6">
                <label>Student</label><br>
                <input type="radio" name="staff" value="student" onchange="toggleStudentForm(this);">
            </div>
        </div>
    {% endcomment %}
    {% comment %}    <script type="application/javascript">
        function updateStudentInfo() {
            let data = new FormData();

            $.ajax({
                type: "POST",
                enctype: 'multipart/form-data',
                //url: window.location.origin + window.location.pathname + "processusercsv/",
                url: window.location.origin + window.location.pathname,
                data: data,
                processData: false,
                contentType: false,
                cache: false,
                timeout: 600000,
                success: function () {
                    console.log("Update works");
                },
                error: function (e) {
                    console.log("ERROR : ", e);
                }
            });
        }

    </script>{% endcomment %}

{% endblock %}