{% extends 'base_generic.html' %}

{% load static %}

{% block content %}
        <table class="table text-center">
            <thead class="thead-inverse">
                <tr>
                    <th>Student List</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for student in attendance_list %}
                        <td>
                            <a class="btn btn-primary" href="#">{{ student.student_id.user }}</a>
                        </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
{% endblock %}