{% extends 'base_generic.html' %}

{% load static %}

<!-- Adding additional css/js links -->
{% block additional_links %}
    <link rel="stylesheet" href="{% static 'css/attendance_prof.css' %}">
    <script src="{% static 'js/attendance.js' %}"></script>
{% endblock %}

<!-- Page content -->
{% block content %}

    <div class="attendance-container text-center">
        <button class="override-submit btn btn-info" onclick="dispatchStatusChangesToDatabase();">Submit all changes
        </button>

        <!-- These divs will be filled via ajax calls -->
        <div class="present-container row">
        </div>

        <div class="excused-container row">
        </div>

        <div class="absent-container row">
        </div>
    </div>

    <script>
        window.onload = getAttendanceData()(); setInterval(getAttendanceData(), 5000);

        $("body").bind("ajaxSend", function(elm, xhr, s){
            if (s.type === "POST") {
                xhr.setRequestHeader('X-CSRF-Token', getCSRFTokenValue());
            }
        });
    </script>

{% endblock %}