{% extends 'base_generic.html' %}

{% load static %}

{% block content %}
    <table class="table table-striped">
        <thead>
            <th>Photo</th>
            <th>Student Name</th>
            <th>Status</th>
        </thead>
        <tbody>
            {% for student in times %}
                <tr>
                    <td>
                        {% if student.student_id.photo_location != '' %}
                            {% with 'image/portraits/'|add:student.student_id.photo_location as image_static %}
                                <img src="{% static image_static %}" alt={{ student.student_id.user }}>
                            {% endwith %}
                        {% else %}
                            <img src="{% static 'image/portraits/generic_avatar.jpg' %}" alt="Default Taco" class="people-img">
                        {% endif %}
                    </td>
                    <td>{{ student.student_id.user }}</td>
                    <td>
                        <form id="rGroup1">
                        <input type="radio" id="r1" name="status" value="1" onclick="disableButton()"> Present<br>
                        <input type="radio" id="r1" name="status" value="2" onclick="disableButton()" checked="checked"> Absent<br>
                        <input type="radio" id="r1" name="status" value="3" onclick="disableButton()" > Excused</input>
                        </form>
                        <div class="form-group">
                            <label>Upload Documentation</label>
                            <input id="uploadForm" type="file" class="form-control-file">
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        function disableButton() {
            var auxRadio = document.getElementById("rGroup1");
            var aux = document.getElementById("uploadForm");
            if (auxRadio.elements["status"].value === "3") {
                aux.disabled = false;
            } else {
                aux.disabled = true;
            }
        }
    </script>
{% endblock %}