{% extends 'base_generic.html' %}

{% load static %}

<!-- Adding additional css/js links -->
{% block additional_links %}
    <link rel="stylesheet" href="{% static 'css/attendance_prof.css' %}">
    <script src="{% static 'js/attendance.js' %}"></script>
{% endblock %}

<!-- Page content -->
{% block content %}

    <div class="attendance-container text-center">

        <div class="title-container">
            <h1>{{ schedule.course_id }}</h1>
            <h3>{{ schedule.date }}</h3>
            <h5>{{ schedule.start_time|time:"H:i" }} - {{ schedule.end_time|time:"H:i" }}</h5>
        </div>

        {% if schedule.attendance_closed %}
            <button class="lock-attendance locked btn btn-info" onclick="toggleAttendanceLock();">Locked <i class="lock-icon fa fa-lock"></i></button>
        {% else %}
            <button class="lock-attendance unlocked btn btn-info" onclick="toggleAttendanceLock();">Unlocked <i class="lock-icon fa fa-unlock"></i></button>
        {% endif %}

        <div class="status-container">
            <div class="progress">
                <div id="progress-present" class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-valuemin="0" ></div>
                <div id="progress-excused" class="progress-bar progress-bar-striped bg-warning" role="progressbar" aria-valuemin="0" ></div>
                <div id="progress-absent"  class="progress-bar progress-bar-striped bg-danger" role="progressbar" aria-valuemin="0" ></div>
            </div>
            <div class="row">
                <div id="stats-present" class="col-3"></div>
                <div id="stats-excused" class="col-3"></div>
                <div id="stats-absent" class="col-3"></div>
                <div id="stats-total" class="col-3"></div>
            </div>
        </div>


        <button class="override-submit btn btn-info" onclick="dispatchStatusChangesToDatabase();">Submit all changes</button>

        <!-- These divs will be filled via ajax calls -->
        <div class="present-container row">
        </div>

        <div class="excused-container row">
        </div>

        <div class="absent-container row">
        </div>
    </div>

    <script>
        window.onload = getAttendanceData()();
        let attendanceInterval = setInterval(getAttendanceData(), 10000);

        function toggleAttendanceLock() {
            let locked = true;

            /*
             We have to clear the interval here because there is an issue if we already start locked, and unlock
             and then we would otherwise have 2 separate setInterval calls, with the ability to clear only one that
             we saved. This keeps only one interval.
             */
            clearInterval(attendanceInterval);

            button = $('.lock-attendance');

            if (button.hasClass('unlocked')) {
                // change to locked
                button.html("Locked <i class=\"lock-icon fa fa-lock\"></i>");
                locked = true;
            } else {
                // change to unlocked
                button.html("Unlocked <i class=\"lock-icon fa fa-unlock\"></i>");

                // Restart interval
                attendanceInterval = setInterval(getAttendanceData(), 10000);
                locked = false;
            }

            button.toggleClass('locked unlocked');

            let baseUrl = window.location.origin + window.location.pathname + "togglelock";

            $.ajax({
                type: "POST",
                url: baseUrl,

                data: {
                    schedule_id: parseGET()['schedule_id'],
                    lock_status: locked
                },

                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(data) {
                    console.log("success");
                },
                failure: function(errMsg) {
                    console.log(errMsg);
                }
            });
        }
    </script>

{% endblock %}