{% extends 'base_generic.html' %}

{% load static %}

{% block additional_links %}
    <link href="{% static 'css/course_list.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="accordion-container container">
        <div id="accordion" class="center-container">
            {% for semester, course_list in semester_list.items %}
                <div class="card">
                    <a data-toggle="collapse" data-target="#{{ semester }}" aria-expanded="false" aria-controls="{{ semester }}">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                {{ semester }}
                            </h5>
                        </div>
                    </a>
                    <div id="{{ semester }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">

                        {%  for course in course_list %}


                            <div class="card-body">
                                <a class="course-btn btn btn-primary" href="/attendance/course/{{ course.slug }}">{{ course.title }}</a>
                            </div>

                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}