{% extends 'base_generic.html' %}

{% load static %}

{% block content %}
    <table class="table text-center">
        <thead class="thead-inverse">
            <tr>
                <th>Active Courses</th>
            </tr>
        </thead>
        <tbody>
            {% for course in user_courses %}
                <tr>
                    <th>
                        <a class="btn btn-primary" href="/attendance-student/course?course_name={{ course }}">{{ course }}</a>
                    </th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}