{% extends 'base_generic.html' %}

{% load static %}

{% block content %}
    <table class="table text-center">
        <thead class="thead-inverse">
            <tr>
                <th>Active Courses</th>
            </tr>
        </thead>
        <tbody>
            {% for course in course_list %}
                <tr>
                    <th>
                        <a class="btn btn-primary" href="/attendance-professor/course?course_id={{ course.id }}">{{ course.title }}</a>
                    </th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}