{% extends 'base_generic.html' %}

{% load static %}

{% block content %}
    <head>
        <link rel="stylesheet" href="../../static/css/graphs.css">
        <script src="{% static 'js/graphs.js' %}"></script>
    </head>
    <div class="container">
        <div class="row text-center">
            <div class="drop-downs col">
                <button class="btn btn-md btn-outline-secondary">Program</button>
            </div>
            <div class="drop-downs col">
                <button class="btn btn-md btn-outline-secondary">Specialization</button>
            </div>
            <div class="drop-downs col">
                <button class="btn btn-md btn-outline-secondary">Course</button>
            </div>
            <div class="drop-downs col">
                <input type="text" placeholder="Student Search">
            </div>
        </div>

        <div id="dataDiv" hidden>{{ all_data }}</div>
        <div id="allChartsDiv">
            <div class="charts" id="chartDiv">
                <canvas id="mscChart"></canvas>
            </div>
            <div class="charts" id="middleChart">
                <canvas id="meChart"></canvas>
            </div>
            <div class="charts" id="rightChart">
                <canvas id="exchangeChart"></canvas>
            </div>
        </div>
    </div>
    <script>
        let raw_data = document.getElementById('dataDiv').innerText;
        let chart_data = JSON.parse(raw_data);
    </script>
{% endblock %}