{% extends 'base_generic.html' %}

{% load static %}

{% block content %}
    <table class="table text-center">
        <thead>
            <h2>Course Times for {{ course.title }}</h2>
        </thead>
        <tbody>
            <tr>
                {% for schedule in schedule_list %}
                    <th>
                        <a class="btn btn-primary" href="/attendance/schedule/students?schedule_id={{ schedule.id }}">{{ schedule.date }}<br>{{ schedule.start_time }} - {{ schedule.end_time }} {{ schedule.room_id }}</a>
                    </th>
                {% endfor %}
            </tr>
        </tbody>
    </table>
{% endblock %}