{% extends 'base_generic.html' %}

{% load static %}

{% block content %}
    <table class="table text-center">
        <thead class="thead-inverse">
            <tr>
                <th>Active Courses</th>
            </tr>
        </thead>
        <tbody>
            {% for schedule in schedule_list %}
                <tr>
                    <th>
                        <a class="btn btn-primary" href="/attendance/course/{{ course }}/schedule/?schedule_id={{ schedule.id }}" style="min-width: 220px;">
                            {{ schedule.date }} - {{ schedule.start_time|time:"H:i" }}

                            {% if schedule.attendance_closed %}
                            <i class="fa fa-lock" style="margin-left: 10px"></i>
                            {% else %}
                            <i class="fa fa-unlock" style="margin-left: 10px"></i>
                            {% endif %}
                        </a>
                    </th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}