{% extends 'base_generic.html' %}

{% load static %}

{% block content %}
        <table class="table text-center">
            <thead class="thead-inverse">
                <tr>
                    <th>Course Times</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for schedule in schedule_list %}
                        {% if schedule.course_id.title == 'Java Programming' %}
                            <td>
                                <a class="btn btn-primary" href="{% url 'attendance_list' %}">{{ schedule.start_time }} - {{ schedule.end_time }} {{ schedule.room_id }}</a>
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            </tbody>
        </table>
{% endblock %}