{% extends 'base_generic.html' %}

{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <table class="table text-center">
                    <thead class="thead-inverse">
                    <tr>
                        <th>Active Courses</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for schedule in schedule_list %}
                        <tr>
                            <th>
                                <a class="btn btn-primary"
                                   href="/attendance/course/{{ course }}/schedule/?schedule_id={{ schedule.id }}"
                                   style="min-width: 220px;">
                                    {{ schedule.date }} - {{ schedule.start_time|time:"H:i" }}

                                    {% if schedule.attendance_closed %}
                                        <i class="fa fa-lock" style="margin-left: 10px"></i>
                                    {% else %}
                                        <i class="fa fa-unlock" style="margin-left: 10px"></i>
                                    {% endif %}
                                </a>
                            </th>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 text-center">
                <div class="card">
                    <h5 class="card-header">Add Class</h5>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">{% csrf_token %}
                            {#                        <h5 class="card-title">{{ form.course_id }}</h5>#}
                            {#                        <p class="card-text">{{ form.date }}</p>#}
                            {#                        <p class="card-text">{{ form.start_time }}</p>#}
                            {#                        <p class="card-text">{{ form.end_time }}</p>#}
                            {#                        <p class="card-text">{{ form.room_id }}</p>#}
                            {#                        <p class="card-text">{{ form.attendance_closed }}</p>#}
                            {{ form.as_p }}
                            <button id="submitBtn" class="btn btn-primary" type="submit">Create</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{#    <script>#}
{#        $("#submitBtn").on('submit', function (event) {#}
{#            event.preventDefault();#}
{##}
{#            console.log("form submitted!");#}
{#            create_post();#}
{#        });#}
{##}
{#        function create_post() {#}
{#            $.ajax({#}
{#                type: "POST",#}
{#                url: baseUrl,#}
{#                data: {#}
{#                    course_id: parseGET()['course_id'],#}
{#                    date: parseGET()['date'],#}
{#                    start_time: parseGET()['start_time'],#}
{#                    end_time: parseGET()['end_time'],#}
{#                    room_id: parseGET()['room_id'],#}
{#                    attendance_closed: parseGET()['attendance_closed']#}
{#                },#}
{#                contentType: "application/json; charset=utf-8",#}
{#                dataType: "json"#}
{#            });#}
{#        }#}
{#    </script>#}
{% endblock %}